nav { 
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.logo{color:#0d9488;}
.Compass{
    padding-top:10px;
    height: 60px;
}
.mid
{display:flex;flex-direction:column;align-items:center;
    text-align:center ;
padding:80px 24px;
background-color: #f0f2f0}
.mid h1
{font-size: 40px ;font-weight: normal;}
.buttons{
    display: flex;
    justify-content: center;
    gap:15px;
}
.explore{
    text-decoration :none;
    color:inherit;
}
.firstbtn{
background-color: #0d9488;
color:white;
border:none;
padding:14px 28px;
border-radius: 10px;
width:180px;
}
.secondbtn{
    background: transparent;
    border:2px solid grey;
    border-radius:10px;
    padding:28px 20px;
    width:100px;
}
footer{
    text-align: center;padding:60px 40px;
}
#map {
  width: 90%;
  margin: 20px auto;
  height: 600px;
  border-radius: 12px;
  border: 1px solid #ccc;
}
.card{
    margin:auto;
}
@media (max-width: 768px) {
  nav { flex-direction: column; gap: 12px; }
  #map { height: 350px; width: 100%; }
  .login-card { padding: 20px; }
}
.dark-mode {
  background-color: #1e1e1e;
  color: #eaeaea;
}
body.dark-mode .mid {
  background: #1e1e1e;
}
body.dark-mode.nav{
    border-bottom: #1e1e1e;
}
body.dark-mode main{
    background-color: #1e1e1e;
}
body.dark-mode .card{
    background-color:#1e1e1e ;
}
nav { 
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}
.logo{color:#0d9488;}
main{
    min-height: 80vh;
    background:#f0f0f0
}
.card{
    background:white;
    padding:40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    text-align:center;
}
.form{
text-align:left;
margin-bottom: 16px;
}
label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
}
input:focus{
    outline:none;
    border-color:#0d9488;
}
.button-signin{
    width:100%;
    background:#0d9488;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    font-size:15px;
    cursor:pointer;
    margin-top:8px;
}
.signup-link{
    margin-top:16px;
    font-size:13px;
    color:#666;
}
.signup-link a{
    color:#0d9488;
    text-decoration:none;
}